$mid-gap: var(--spacer);

.container {
    display: flex;
    flex-direction: row;
    padding: var(--medium-spacer);
    gap: $mid-gap;
    background-color: var(--light-foreground);
    justify-content: center;
}

.main_img_container {
    width: calc(calc(100% - $mid-gap) / 2);
    aspect-ratio: calc(5/4);
    position: relative;

    .main_image {
        object-fit: cover;
    }
}

.prod_information {
    width: calc(calc(100% - $mid-gap) / 2);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}

.add_to_cart_button {
    max-width: 400px;
}