@use "./mixins";

:root {
    /* variables */
    --primary: #373737;
    --secondary: #fee8de;
	--tertiary: #bf9a90;
	--tertiary-light: #f8f6f5;
    --light-foreground: white;
    --light-background: rgb(241, 240, 240);
    --mid-background: #5b5b71;
    --mid-dark-background: #373737;
    --dark-background: black;

    --text-dark: #373737;
    --text-light: white;
	--text-grey: #808080;
    --text-mid-grey: #5C5B71;

    /* spacers */
    --tiny-spacer: 8px;
    --small-spacer: 16px;
    --spacer: 24px;
    --medium-spacer: 48px;
    --large-spacer: 80px;
    
    /* border radius */
    --b-radius: 8px;

	/* input border */
	--b-input: 1px solid #d3d3d3;
	--b-input-focus: 2px solid var(--tertiary);

    /* navbar */
    --navbar-height: 100px;
    --max-width: 1440px;

	/* icon size */
	--icon-input-size: 1.5rem;

    background-color: var(--light-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
    font-weight: 400;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}
input, select {
	font-size: 1rem;
}
