@use 'app/(pages)/_globals/mixins';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-spacer);
    min-width: 20%;
}

.allButton {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--text-mid-grey);
    font-size: 2rem;
    text-align: left;
    @include mixins.tablet {
        font-size: 1.5rem;
    }
}

.tagButtons {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);
    text-wrap: nowrap;
}

.filter {
    display: flex;
    gap: var(--tiny-spacer);
    align-items: center;
    font-size: 1.2rem;
    @include mixins.tablet {
        font-size: 1rem;
        text-wrap: wrap;
    }
}

.checkBox {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    accent-color: var(--mid-background);
    vertical-align: middle;
    flex-shrink: 0;
  }