.container {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);
    min-width: 320px;
    flex-shrink: 1;
    flex-grow: 1;
}

.prod_image_container {
    position: relative;
    width: 100%;
    aspect-ratio: 7/5;
}

.prod_img {
    object-fit: cover;
    border-radius: var(--b-radius);
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
        font-size: 1.25rem;
        color: var(--text-mid-grey);
    }

    .price {
        color: var(--text-dark);
    }
}

.tags {
    display: flex;
    justify-content: flex-start;
    gap: var(--small-spacer);
}

.oldPrice {
    text-decoration: line-through;
    color: var(--text-grey);
    margin-right: 0.5rem;
}