:root {
    --include-purple: #3c257e;
    --primary: var(--include-purple);
    --secondary: #e7c6f9;
    --background-light: rgb(241, 240, 240);
    --dark-background: #0d303b;

    --text-dark: #0d303b;
    --text-light: #def6ff;
}
