@use 'app/(pages)/_globals/mixins';

.container {
    display: flex;
    flex-direction: column;
    padding: var(--medium-spacer);
    gap: var(--spacer);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--small-spacer);
    margin-bottom: var(--medium-spacer);
  
    @include mixins.phone {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  .sortAndToggle {
    display: none;
  
    @include mixins.phone {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--medium-spacer);
    }
  }
  
  .desktopOnly {
    display: block;
  
    @include mixins.phone {
      display: none;
    }
  }
  
  .mobileOnly {
    display: none;
  
    @include mixins.phone {
      display: block;
    }
  }
  
  .hamburger {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-mid-grey);
  }

  .productList {
    display: flex;
    flex-direction: row;
    gap: var(--spacer);
  
    @include mixins.phone {
      flex-direction: column;
    }
  }
  