.cart_button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.show {
    display: block;
}

.sidebar_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 560px;
    min-width: 300px;
    background-color: var(--light-foreground);
    transition: all 0.1s ease-out;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    padding: var(--spacer);
    gap: var(--small-spacer);
    
    .exit_button {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        flex-grow: 0;
        padding: 0;
    
        .x_mark {
            font-size: 2rem;
        }
    }

    .cart_items {
        flex-grow: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: var(--tiny-spacer);
    }

    .review_order {
        width: 100%;
        flex-grow: 0;
        
        .review_order_button {
            width: 100%;
            padding: var(--small-spacer);
            font-size: 1rem;
            border-radius: 4px;
        }
    }
}

.slide_in {
    transform: translate(0);
}